*{
    box-sizing:border-box;
}

body {
    background-color: rgb(141, 238, 255); 
}

main {
    background-color: rgb(197, 215, 255)
}












@media only screen and (max-width:480px){
    body {
        background-color: red;
    }
}